@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  background-color: rgba(242, 245, 245, 0.678);
}

h1 {

  font-family: 'Poppins', sans-serif;
  /* margin-left:43%; */
  /* font-size: 50px; */
  font-size: 3.2rem;
  margin-top: 10%;
  text-align: center;
  color: rgba(45, 43, 43, 0.806);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.input {
  display: flex;
  gap: 1em;
}

.input input {
  padding: 1em;
  font-family: poppins;
  outline: none;
  /* width: 250px; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;

}

button {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.lines {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.line1 {
  width: 40%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2em;
}

.line2 {
  width: 40%;
  height: 1px;
  background-color: rgba(129, 105, 105, 0.2);
  margin-top: 2em;
}

.or {
  margin-top: 2%;
  text-align: center;
}

@media(max-width: 768px) {
  .input {
    flex-direction: column;
  }
}